{% extends 'base.html.twig' %}

{% block title %}Homepage
{% endblock %}

{% block body %}
	{% for article in articles %}

		<div class="card mt-3">
			<h5 class="card-header">{{ article.title }}</h5>
			<div class="card-body">
				<p class="card-text">{{ article.content }}</p>
			</div>
			<div class="card-footer text-muted">

				{% if article.createdAt == article.updatedAt %}
					Creation date:
					{{ article.createdAt|date('Y-m-d H:i') }}
				{% else %}
					Creation date:
					{{ article.createdAt|date('Y-m-d H:i') }}, last updated:
					{{ article.updatedAt|date('Y-m-d H:i') }}
				{% endif %}

				{% if article.author %}
					by {{ article.author }}
				{% endif %}
			</div>
		</div>

	{% endfor %}
{% endblock %}
