{% extends 'base.html.twig' %}

{% block title %}Homepage
{% endblock %}

{% block body %}
	{% for article in articles %}
		<section>
			<h2>{{ article.title }}</h2>
			<p>{{ article.content }}</p>
            {% if article.createdAt == article.updatedAt %}
                <p>Creation date: {{ article.createdAt|date('Y-m-d H:i') }}</p>
            {% else %}
                <p>Creation date: {{ article.createdAt|date('Y-m-d H:i') }}</p>
                <p>Last updated: {{ article.updatedAt|date('Y-m-d H:i') }}</p>
            {% endif %}
			{% if article.author %}
				<p class="article_author">
					Auteur:
					{{ article.author.name }}
					{{ article.author.firstname }}
				</p>
			{% endif %}
			<div class="action_button_container">
			</div>
		</section>
	{% endfor %}
{% endblock %}