{% extends 'base.html.twig' %}

{% block title %}Admin dashboard
{% endblock %}

{% block body %}

	<h2 class="my-4">Admin dashboard</h2>

	<h4 class="my-4">Users list</h4>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Name</th>
				<th>Surname</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.surname }}</td>
					<td>

						<a class="btn btn-info btn-sm" href="{{ path('app_user_show', {'id': user.id}) }}">Show</a>
						<a class="btn btn-secondary btn-sm" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-primary btn-sm mb-2" href="{{ path('app_user_new') }}">Create new</a>

	<h4 class="my-4">Product list</h4>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Image</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Category</th>
				<th>Color</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.id }}</td>
					<td>{{ product.name }}</td>
					<td>{{ product.description }}</td>
					<td>{{ product.image }}</td>
					<td>{{ product.price }}</td>
					<td>{{ product.quantity }}</td>
					<td>{{ product.category.name }}</td>
					<td>{{ product.color ? product.color|join(', ') : '' }}</td>
					<td>
						<a class="btn btn-info btn-sm" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
						<a class="btn btn-secondary btn-sm" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-primary btn-sm mb-2" href="{{ path('app_product_new') }}">Create new</a>


	<h5 class="my-4">Articles</h5>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Content</th>
				<th>Status</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.id }}</td>
					<td>{{ article.title }}</td>
					<td>{{ article.content }}</td>
					<td>{{ article.status ? 'Yes' : 'No' }}</td>
					<td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a class="btn btn-info btn-sm" href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
						<a class="btn btn-secondary btn-sm" href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-primary btn-sm mb-5" href="{{ path('app_article_new') }}">Create new</a>


{% endblock %}
