{% extends 'base.html.twig' %}

{% block title %}Our productflex--grow-0
{% endblock %}

{% block body %}

	<div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
		{% for product in products %}
			<div class="col">
				<div
					class="card h-100">
					<img src="{{ product.image }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{ product.name }}</h5>
						<p class="card-text">{{ product.description }}</p>
					</div>
					<div class="card-footer d-flex justify-content-between align-items-center">
						<small class="text-muted">In {{ product.category.name }}</small>
						<a class="btn btn-primary btn-sm" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
					</div>
				</div>
			</div>
		{% else %}
			<div class="col">
				<div
					class="card h-100">
					<div class="card-body">
						<h5 class="card-title">No record found</h5>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}


	{# <table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Image</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Category</th>
					<th>Color</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
					<tr>
						<td>{{ product.id }}</td>
						<td>{{ product.name }}</td>
						<td>{{ product.description }}</td>
						<td>{{ product.image }}</td>
						<td>{{ product.price }}</td>
						<td>{{ product.quantity }}</td>
						<td>{{ product.category.name }}</td>
						<td>{{ product.color ? product.color|join(', ') : '' }}</td>
						<td>
							<a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
							<a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table> 
	
		<a href="{{ path('app_product_new') }}">Create new</a>#}
