{% extends 'base.html.twig' %}

{% block title %}Products
{% endblock %}

{% block body %}

	<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
		{% for product in products %}
			<div class="col">
				<div class="card h-100">
					{# <img src="{{ product.image }}" class="card-img-top" alt="..."> #}
					<div class="card-body">
						<h5 class="card-title">{{ product.name }}</h5>
						<p class="card-text">{{ product.description }}</p>
                        {% for product in products %}
                            <span class="badge badge-info">{{ product.color }}</span>
                        {% endfor %}
                        <p class="card-text"><small class="text-muted">Sold by{{ product.seller }}</small></p>
					</div>
					<div class="card-footer d-flex align-items-center justify-content-between">
						<small class="text-muted">{{ product.price }} €</small>
						{# {% if product.category %} #}
					{# <li class="list-group-item">{{ product.category.name }}</li> #}
						{# {% endif %} #}
						{# <li class="list-group-item">{{ product.stock ? 'Yes' : 'No' }}</li> #}
                        <div>
                            <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary btn-sm">View product</a>
                            <a href="#" class="btn btn-primary btn-sm">Add to cart</a>
                        </div>
					</div>
				</div>
			</div>
        {% else %}
		    <h5 class="card-title">No product found</h5>
	    {% endfor %}
    </div>
{# <table class="table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Price</th>
								<th>Description</th>
								<th>Image</th>
								<th>Color</th>
								<th>Category</th>
								<th>Stock</th>
								<th>Status</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for product in products %}
								<tr>
									<td>{{ product.id }}</td>
									<td>{{ product.name }}</td>
									<td>{{ product.price }}</td>
									<td>{{ product.description }}</td>
									<td>{{ product.image }}</td>
									<td>{{ product.color }}</td>
									<td>
										{{ product.stock }}
									</td>
									<td>
										{{ product.status ? 'Yes' : 'No' }}
									</td>
									<td>
										<a href="{{ path('app_product_show', {'id': product.id}) }}">
											show</a>
										<a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="9">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				
					<a href="{{ path('app_product_new') }}">Create new</a> #}
                    
{% endblock %}
