{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

{% for article in articles %}

		<div class="card my-3">
			<h5 class="card-header">{{ article.title }}</h5>
			<div class="card-body">
				<p class="card-text">{{ article.content }}</p>

			</div>
			<div class="card-footer text-muted d-flex justify-content-between align-items-center">

				{% if article.createdAt == article.updatedAt %}
					Creation date:
					{{ article.createdAt|date('Y-m-d H:i') }}
				{% else %}
					Creation date:
					{{ article.createdAt|date('Y-m-d H:i') }}, last updated:
					{{ article.updatedAt|date('Y-m-d H:i') }}
				{% endif %}

				{% if article.author %}
					by {{ article.author }}
				{% endif %}

                {% if is_granted("ROLE_ADMIN") %}
                    <div>
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{{ path('app_article_delete', {'id': article.id}) }}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                {% endif %}

			</div>
		</div>

	{% endfor %}
{% endblock %}



    {# <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.status ? 'Yes' : 'No' }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}">Create new</a> #}

