{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}

    {% for user in users %}
        <div class="card text-left my-3">
            <div class="card-header">
                User id: {{ user.id }}
            </div>
            <div class="card-body">
                <p class="card-text">First name : {{ user.surname }}</p>
                <p class="card-text">Last name : {{ user.name }}</p>
                <p class="card-text">Email : {{ user.email }}</p>
                <p class="card-text">Role : {{ user.roles ? user.roles|json_encode : '' }}</p>
            </div>
        </div>
                <a href="{{ path('app_user_new') }}" class="btn btn-primary">Create new user</a>
                <a href="{{ path('app_user_edit') }}" class="btn btn-primary">Create new user</a>
    {% else %}
        <div class="card text-center">
            <div class="card-header">
                No record found
            </div>
        </div>
    {% endfor %}

{% endblock %}
